<div class="container mt-5 py-5">
    <div class="row">
      <div class="col-lg-6">
        <img src="./../../../assets/uploads/software1.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <h2>Producto Software</h2>
        <p>Descripción del producto.</p>
        <ul>
          <li>CATALYST INSIGHTS</li>
          <li>MICROSERVICES</li>
          <li>HEXAGON</li>
        </ul>
        <div class="row">
          <div class="col-md-6">
            <a href="https://hexagon.com/products/product-groups/geospatial-platforms?utm_easyredir=www.hexagongeospatial.com" class="btn btn-primary btn-block">Más información</a>
          </div>
          <div class="col-md-6">
            <a href="#" class="btn btn-outline-primary btn-block">Descargar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  