<div class="container mt-5 py-5">
<div class="container quienes-somos-container my-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="quienes-somos-title">¿Quiénes somos?</h2>
        <p class="quienes-somos-description text-justify">
          Globtech es una empresa líder en el sector geoespacial con sede en Ecuador. Contamos con más de 14 años de experiencia en servicios de consultoría, productos y servicios satelitales, geoservicios web, venta y desarrollo de software, y servicios con drone y LiDAR. Nos enorgullece ser reconocidos como una empresa líder en el mercado de la geoinformación.
        </p>
        <p class="quienes-somos-description text-justify">
          Brindamos soluciones innovadoras y personalizadas para nuestros clientes, tanto públicos como privados, en Ecuador y a nivel internacional. Nuestras capacidades altamente competitivas nos permiten adaptarnos a todo tipo de proyectos y desafíos, siempre asegurando la satisfacción del cliente y la calidad de nuestros productos y servicios.
        </p>
        <p class="quienes-somos-description text-justify">
          En Globtech, estamos comprometidos con la excelencia y la innovación continua en el sector geoespacial. Trabajamos incansablemente para satisfacer las necesidades de nuestros clientes y superar sus expectativas. Si buscas soluciones geoespaciales confiables y de alta calidad, no dudes en contactarnos. Estamos aquí para ayudarte a alcanzar tus objetivos.
        </p>
      </div>
    </div>
  </div>
</div>
