
<a href="#">
    <div class="container clearfix" style="padding: 20px 0 20px 0;">
        <div class="row">
            <div>
                <div class="box-info">
                    <span>Soluciones tecnológicas para </span><b>todo tipo de proyecto</b>
                </div>
            </div>
        </div>
    </div>
    </a>
    <div class="row-img" style="position:relative;">
        <div class="box-img" >
            <a href="#">
            <div class="box" >
                <img src="../../../assets/Proyectos/projects-1_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>AMBIENTAL Y FORESTAL</b></h2>
                    <span>Soluciones y proyectos ambientales y forestales</span>
                </div>
            </div>
            </a>
        </div>
        <div class="separator-img"></div>
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-2_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center texto2" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>AGRICULTURA</b></h2>
                    <span>Soluciones integrales para agricultura</span>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row-img" style="position:relative;">
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-3_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>AGRIBUSINESS</b></h2>
                    <span>Estamos revolucionando la era de los negocios en la agricultura</span>
                </div>
            </div>
            </a>
        </div>
        <div class="separator-img"></div>
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-4_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center texto2" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>ENERGÍA E INGENIERIA</b></h2>
                    <span>Soluciones para todo ciclo del proyecto</span>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row-img" style="position:relative;">
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-5_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>MINERÍA</b></h2>
                    <span>Soluciones para todo el ciclo del proyecto</span>
                </div>
            </div>
            </a>
        </div>
        <div class="separator-img"></div>
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-6_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center texto2" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>HIDROCARBUROS</b></h2>
                    <span>Operaciones rentables, seguras, monitoreo regular</span>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row-img" style="position:relative;">
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-7_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>SEGURIDAD Y DEFENSA</b></h2>
                    <span>Todas las actividades y amenazas ¡Lo hacemos visible!</span>
                </div>
            </div>
            </a>
        </div>
        <div class="separator-img"></div>
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-8_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center texto2" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>TELECOMUNICACIONES</b></h2>
                    <span>Sirviendo datos para la planificicación de redes inalámbricas</span>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row-img" style="position:relative;">
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-9_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>PLANEACIÓN URBANA Y RURAL</b></h2>
                    <span>Soluciones para la gestión del territorio</span>
                </div>
            </div>
            </a>
        </div>
        <div class="separator-img"></div>
        <div class="box-img">
            <a href="#">
            <div class="box">
                <img src="../../../assets/Proyectos/projects-10_v2.jpg" alt="Proyecto1" style="width:100%;">
                <div class="texto text-center texto2" style="padding:20px; width:49%; height:100%; position:absolute; top:0; z-index:20;">
                    <h2><b>GEOMARKETING</b></h2>
                    <span>Ayudamos a las empresas a aprovechar al máximo sus datos</span>
                </div>
            </div>
            </a>
        </div>
    </div>