<div class="container mt-5 py-5">
    <div class="row">
      <div class="col-12 text-center" *ngFor="let satelite of satelites">
        <img [src]="'./../../../assets/uploads/'+satelite.image" alt="" class="img-fluid rounded hover-zoom mx-auto" data-toggle="modal" data-target="#imageModal">
      </div>
    </div>
  
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <img src="" alt="" class="img-fluid" id="modalImage">
          </div>
        </div>
      </div>
    </div>
  </div>
  