
<footer id="footer" class="page-section pt-80 pb-50 footer2-black">
  <div class="container">
    <div class="row" style="display: grid; grid-template-columns: 0% 1fr 1fr 1fr 0% 1fr 15%">
    
      <div class="col-md-2 col-sm-2 widget" style="width: 100%;">
        <div class="logo-footer-cont">
          <a href="https://www.agpgeospatial.com/index.php">
            <img class="logo-footer" src="./AGP _ GEOSPATIAL COMPANY_files/logo-footer-white.png" alt="logo" style="margin-top: 22px;max-height: 80px !important;">
          </a>
        </div>
        <div class="footer-2-text-cont direccion">
          Calle Berlín E3-85 y 9 de Octubre<br>Torres Windsor<br>Quito - Ecuador

          </div>
        <div class="footer-2-text-cont">
          (+593) 2 553 585<br>
          2 553 747
        </div>
        <div class="footer-2-text-cont">
          <a class="a-text" href="mailto:info@agpgeospatial.com">info@agpgeospatial.com</a>
        </div>
      </div>
        <div class="col-md-3 col-sm-3 widget" style="width: 100%;">
        <h4 id="products_pie">PRODUCTOS</h4>
        <ul class="list-unstyled links-list a-text-cont">
          <li><a href="https://www.agpgeospatial.com/producto-imagenes.php" id="img_sate_pie">IMAGENES SATELITALES</a></li>
          <!--<li><a href="producto-equipos.php" id="equipos_pie">EQUIPOS</a></li>-->
          <li><a href="https://www.agpgeospatial.com/producto-software.php" id="soft_pie">SOFTWARE</a></li>
          <h4 id="servicios_pie">SERVICIOS</h4>
        <ul class="list-unstyled links-list a-text-cont">
          <li><a href="https://www.agpgeospatial.com/servicios-consultoria.php" id="consult_pie">CONSULTORÍA</a></li>
          <li><a href="https://www.agpgeospatial.com/servicios-satelital.php" id="satel_pie">SATELITALES</a></li>
          <li><a href="https://www.agpgeospatial.com/drones.php" id="drones_pie">DRONES</a></li>
          <li><a href="http://agpgeo.com/" id="geoserv_pie">GEOSERVICIOS</a></li>
        </ul>
      </ul></div>
      <!--<div class="col-md- col-sm-2 widget" style="width: 100%;">
        <h4>MENU</h4>
        <ul class="links-list bold a-text-cont">
          <li><a href="index.php">INICIO</a></li>
          <li><a href="nosotros.php">COMPAÑIA</a></li>
          <li><a href="mercados.php">MERCADOS</a></li>
          <li><a href="https://agpgeospatialnews.wordpress.com/">PRENSA</a></li>
          <li><a href="contacto.php">CONTACTOS</a></li>
        </ul>
      </div>-->
      
      <div class="col-md-2 col-sm-2 widget" style="width: 100%;">
        <h4 id="evaluar_pie">EVALUACIÓN</h4>
        <div id="post-list-footer">
          <a href="https://sgsrevisionestecnicas.ec/">
          <img class="logo-footer2" src="./AGP _ GEOSPATIAL COMPANY_files/logo-sgs.png" alt="logo">
          
         
          <div class="post-prev-info">                    
          </div>
          </a></div><a href="https://sgsrevisionestecnicas.ec/">
      </a></div><a href="https://sgsrevisionestecnicas.ec/"> 

</a><div class="col-md-2 col-sm-2 widget" style="width: 100%;"><a href="https://sgsrevisionestecnicas.ec/">
  <h4 id="certifica_pie">CERTIFICACIÓN</h4>
  </a><div id="post-list-footer"><a href="https://sgsrevisionestecnicas.ec/">
    </a><a href="http://www.igm.gob.ec/index.php/en/" target="_blank"><img class="logo-footer2" src="./AGP _ GEOSPATIAL COMPANY_files/logo-sgs2.png" alt="logo"></a>
     <a href="https://portal.compraspublicas.gob.ec/sercop/" target="_blank"><img class="logo-footer2" src="./AGP _ GEOSPATIAL COMPANY_files/logo-sgs3.png" alt="logo"></a>
    <div class="post-prev-title">
    
    </div>
    <div class="post-prev-info">                    
    </div>
    </div>
        </div> 

<div class="col-md-2 col-sm-2 widget" style="width: 100%;">
  <h4 style="width: 235px;" id="soci_coop_pie">SOCIOS COOPERADORES</h4>
  <div id="post-list-footer">
    <a href="https://www.ipgh.org/" target="_blank"><img class="logo-footer2" src="./AGP _ GEOSPATIAL COMPANY_files/logo-IPGH.webp" alt="logo" style="margin-left:65px !important;"></a>
    <h4 style="margin-left:90px !important;">IPGH</h4>
    
  </div>
        </div> 
    </div>
    

    </div>    
    
    <div class="footer-2-copy-cont clearfix">
      <!-- Social Links -->
      <div class="footer-2-soc-a right">
        <a href="https://www.facebook.com/agpgeospatial" title="Facebook" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://twitter.com/agpgeospatial" title="Twitter" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCqTN2lEAZ7WLOKiBLLSZIrQ" title="YouTube" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
        <a href="https://www.linkedin.com/company/agp-geospatial" title="Linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        



      
      
      
      <!-- Copyright -->
      <div class="left">
        <a class="footer-2-copy" href="http://www.jojotto2018.com/" target="_blank">©JOJOTTO 2018</a>
      </div>
      

    </div>
            
  </div>
</footer>