
<footer id="footer" class="page-section pt-80 pb-50 footer2-black">
  <div class="container">
    <div class="row row-footer">
      <div class="col-md-4 col-sm-4">
        <div class="logo-footer-cont">
          <a href="https://www.agpgeospatial.com/index.php">
            <img class="logo-footer" src="../../../assets/Logos/LOGO-GLOBTECH.png" alt="logo" style="margin-top: 22px;max-width: 100% !important;">
          </a>
        </div>
        <div class="text-color-smoothed">
          Av. 12 de Octubre y Ladrón de Guevara<br>EPN<br>Quito - Ecuador
          </div>
        <div class="text-color-smoothed">
          (+593) 2 553 585<br>
          2 553 747
        </div>
        <div>
          <a class="text-color-smoothed" href="mailto:albeiro_andino@outlook.com">info@globtech.com</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 widget text-center">
        <h4 id="products_pie" class="text-color-main">PRODUCTOS</h4>
        <ul class="list-unstyled links-list a-text-cont">
          <li><a class="text-color-smoothed" href="https://www.agpgeospatial.com/producto-imagenes.php" id="img_sate_pie">IMAGENES SATELITALES</a></li>
          <!--<li><a href="producto-equipos.php" id="equipos_pie">EQUIPOS</a></li>-->
          <li><a class="text-color-smoothed" href="https://www.agpgeospatial.com/producto-software.php" id="soft_pie">SOFTWARE</a></li>
        </ul>
        
      </div>
      <div class="col-md-4 col-sm-4 widget text-end">
        <h4 id="servicios_pie" class="text-color-main" >SERVICIOS</h4>
        <ul class="list-unstyled links-list a-text-cont">
          <li><a class="text-color-smoothed" href="https://www.agpgeospatial.com/servicios-consultoria.php" id="consult_pie">CONSULTORÍA</a></li>
          <li><a class="text-color-smoothed" href="https://www.agpgeospatial.com/servicios-satelital.php" id="satel_pie">SATELITALES</a></li>
          <li><a class="text-color-smoothed" href="https://www.agpgeospatial.com/drones.php" id="drones_pie">DRONES</a></li>
          <li><a class="text-color-smoothed" href="http://agpgeo.com/" id="geoserv_pie">GEOSERVICIOS</a></li>
        </ul>  
      </div>

    </div>
    
    <div class="row align-items-end clearfix" id="footer2">
      <!-- Social Links -->
      <div class="col-md-9"></div>
      <div class="col-md-2 col-sm-12 text-center">
        <a class="text-color-main" href="https://www.facebook.com/agpgeospatial" title="Facebook" target="_blank"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
        <a class="text-color-main" href="https://twitter.com/agpgeospatial" title="Twitter" target="_blank"><i class="fa-brands fa-square-twitter fa-lg"></i></a>
        <a class="text-color-main" href="https://www.youtube.com/channel/UCqTN2lEAZ7WLOKiBLLSZIrQ" title="YouTube" target="_blank"><i class="fa-brands fa-square-youtube fa-lg"></i></a>
        <a class="text-color-main" href="https://www.linkedin.com/company/agp-geospatial" title="Linkedin" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
      </div>
      <div class="col-md-1 col-sm-12 text-center">
        <a class="text-color-smoothed" href="#" target="_blank">©Copyright</a>
      </div>
      </div>
    </div>
</footer>